:root{
--bg-main: #291212;
--bg-card: #240202;
--text-main: hwb(0 100% 0%);
--text-muted: #b0b0c3;
--accent: #88610c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffd6d6;
}

nav {
    background: rgba(116, 13, 13, 0.5);
    border: 1px solid rgba(61, 4, 4, 0.08);
    padding: 0.4rem 0.75rem;
    border-radius: 999px;
    font-size: 0.85rem;
    display: inline-flex;
    gap:40px;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #240202, #12121a);
    color: var(--text-main);
    line-height: 1.6;
    cursor: cell;
    padding: 0 26px;
}

header {
    padding: 3rem 1.5rem 2rem;
    text-align: center;
}

footer {
    font-style: italic;
    padding: 0 26px;
}

header p {
    color: var(--text-muted);
    font-size: 1.1rem;
    padding: 0 26px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    padding: 0 26px;
}

section h2{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
    color: var(--accent);
    padding: 0 26px;
}

section h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--accent);
    padding: 0 26px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.skill-chip {
    background: rgba(116, 13, 13, 0.5);
    border: 1px solid rgba(61, 4, 4, 0.08);
    padding: 0.4rem 0.75rem;
    border-radius: 999px;
    font-size: 0.85rem;
}

.profile-pic {
    width:200px;
    height: 200px;
    border-radius: 0;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid rgba(168, 52, 52, 0.6);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

.content-section{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
    font-size: 20px;
    padding: 0 26px;
}

.content-section .text{
    flex: 1;
    padding: 0 26px;
}

.hobbies-image {
    width: 180px;
    height: auto;
    border-radius: 10px;
}